body{
    margin: 0;
    background: #222f3e;
        color: #ffffff;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        }
        
.section{
    padding: 36px;
    }

.container{
    max-width: 900px; 
    margin: 0 auto;
    width: 30%;
    text-align: left;
}

img{
    display: inline-block;
    max-width: 30%;}